<!DOCTYPE html>
<html>

<head>
  <title>New recipe</title>
</head>

<body>
  <h1>Add Recipe</h1>
  <form action="/create_recipe" method="post">
    <p>
      Recipe name: <br />
      <input type="text" name="title" size="30"/>
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="8" cols="60"></textarea>
    </p>
    <p>
      Ingredients: <br />
      <textarea name="ingredients" rows="8" cols="60"></textarea>
    </p>
    <p>
      Instructions: <br />
      <textarea name="instructions" rows="8" cols="60"></textarea>
    </p>
    <input type="submit" value="Add Recipe" />
  </form>
</body>

</html>